/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#sairBtn {
    height: 100%;
}

mat-toolbar-row {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

mat-toolbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnEntrar {
    background-color: rgb(71, 71, 71) !important;
}