span {
    height: 100%;
    margin-right: 10px;
}

#nomeUsuario {
    font-size: 17px;
}

#emailUsuario {
    font-size: 12px;
    color: rgb(201, 201, 201);
}

mat-toolbar-row {
    background-color: rgb(71, 71, 71);
}

::ng-deep .snackbarErro{
    background-color: rgb(255,0,0);
}

::ng-deep .snackbarErro button{
    color: white
}
