#btnSairGrupo {
  background-color: red !important;
  color: white;
}

header {
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

h3 {
  font-weight: normal;
}

main {
  width: calc(100%-80px);
  height: fit-content;
  padding: 25px;
  padding-top: 0px;
}

table {
  width: 50%;
  margin-bottom: 1.25em;
  margin-left: 15px;
}

.containerTabela {
  max-height: 400px;
  overflow: auto;
  width: 47%;
}

.btnEntrar {
  margin-left: 15px;
  color: white;
}

#btnAtualizar {
  margin: 0 15px 0 15px;
}

#btnAtualizar i{
  font-size: 24px !important;
  color: rgb(0, 0, 0, 0.54);
}

.tdVerde {
  background-color: rgb(0, 255, 0, 0.5) !important;
}

.btnPadrao {
  margin-left: 15px;
}

mat-form-field {
  margin-right: 15px;
}

#tabelas {
  display: flex;
  justify-content: space-between;
  widows: 100%;
}

#tabelaEscolhidos {
  width: 450px;
}

#tabelaVotacao{
  width: 95%;
}

@media (orientation: portrait) {
  main {
    padding: 0;
  }

  header {
    padding: 10px;
  }

  .containerTabela {
    width: 100%;
  }
  
  #tabelaVotacao {
    margin:  0;
    width: 100%;
    margin-bottom: 15px;
  }

  span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}